wildfly-ai/subsystem/src/main/resources/schema/wildfly-ai_1_0.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
~ Copyright The WildFly Authors
~ SPDX-License-Identifier: Apache-2.0
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:jboss:domain:ai:1.0"
           xmlns="urn:jboss:domain:ai:1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:element name="subsystem" type="subsystemType">
        <xs:annotation>
            <xs:documentation>
                The AI subsystem root element.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="subsystemType">
        <xs:annotation>
            <xs:documentation>
                The AI subsystem root type.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="chat-language-models" type="chatLanguageModelsType">
                <xs:annotation>
                    <xs:documentation>
                        The chat language models.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="embedding-models" type="embeddingModelsType">
                <xs:annotation>
                    <xs:documentation>
                        The chat embedding models.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="embedding-stores" type="embeddingStoresType">
                <xs:annotation>
                    <xs:documentation>
                        The chat embedding models.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="content-retrievers" type="contentRetrieversType">
                <xs:annotation>
                    <xs:documentation>
                        The chat content retrievers.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="embeddingModelsType">
        <xs:annotation>
            <xs:documentation>
                The embedding models.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="in-memory-embedding-model" type="inMemoryEmbeddingModelType">
                <xs:annotation>
                    <xs:documentation>
                        An embedding-model provider definition element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ollama-embedding-model" type="ollamaEmbeddingModelType">
                <xs:annotation>
                    <xs:documentation>
                        An embedding-model provider definition element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="embeddingStoresType">
        <xs:annotation>
            <xs:documentation>
                The embedding stores.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="in-memory-embedding-store" type="inMemoryEmbeddingStoreType">
                <xs:annotation>
                    <xs:documentation>
                        An in-memory embedding-store provider definition element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="weaviate-embedding-store" type="weaviateEmbeddingStoreType">
                <xs:annotation>
                    <xs:documentation>
                        A Weaviate embedding-store provider definition element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>


    <xs:complexType name="contentRetrieversType">
        <xs:annotation>
            <xs:documentation>
                The content retrievers.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="embedding-store-content-retriever" type="embeddingStoreContentRetrieverType">
                <xs:annotation>
                    <xs:documentation>
                        A content retriever retriving content from an embedding store definition element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="web-search-content-retriever" type="webSearchContentRetrieverType">
                <xs:annotation>
                    <xs:documentation>
                        A content retriever retriving content from a web search definition element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>


    <xs:complexType name="chatLanguageModelsType">
        <xs:annotation>
            <xs:documentation>
                The chat language models.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="openai-chat-model" type="openaiChatModelType">
                <xs:annotation>
                    <xs:documentation>
                        A chat model provider element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ollama-chat-model" type="ollamaChatModelType">
                <xs:annotation>
                    <xs:documentation>
                        A chat model provider element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="openaiChatModelType">
        <xs:annotation>
            <xs:documentation>
                A provider of an OpenAI chat model.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="api-key" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The key to connect to the OpenAI model.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="base-url" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The base url to the chat model endpoint
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="connect-timeout" type="xs:long" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The connection timeout of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="frequency-penalty" type="xs:double" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The frequency penalty of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="log-requests" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Whether to log API requests
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="log-responses" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Whether to log API responses
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="max-token" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The maximum number of token of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="model-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The name of the model to use
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="organization-id" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The organization id of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="presence-penalty" type="xs:double" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The presence penalty of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="seed" type="xs:double" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The seed of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="temperature" type="xs:double" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The temperature of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="top-p" type="xs:double" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The top P of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ollamaChatModelType">
        <xs:annotation>
            <xs:documentation>
                A provider of Ollama chat model.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="base-url" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The base url to the chat model endpoint
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="connect-timeout" type="xs:long" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The connection timeout of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="log-requests" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Whether to log API requests
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="log-responses" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Whether to log API responses
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="max-retries" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The maximum number of retries for API requests
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="model-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The model used on Ollama.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="temperature" type="xs:double" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The temperature of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <xs:complexType name="ollamaEmbeddingModelType">
        <xs:annotation>
            <xs:documentation>
                A provider of Ollama embedding model.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="base-url" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The base url to the chat model endpoint
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="connect-timeout" type="xs:long" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The connection timeout of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="log-requests" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Whether to log API requests
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="log-responses" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Whether to log API responses
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="model-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The model used on Ollama.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="inMemoryEmbeddingModelType">
        <xs:annotation>
            <xs:documentation>
                A provider of embedding model.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="module" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The module to load the embedding model from.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="embedding-class" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The class from which the embedding model will be instanciated.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <xs:complexType name="inMemoryEmbeddingStoreType">
        <xs:annotation>
            <xs:documentation>
                A provider of in-memory embedding store.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="path" use="required">
            <xs:annotation>
                <xs:documentation>The actual filesystem path. Treated as an absolute path, unless the
                'relative-to' attribute is specified, in which case the value
                is treated as relative to that path.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="relative-to" type="xs:string" use="optional">
           <xs:annotation>
                <xs:documentation>Reference to a filesystem path defined in the "paths" section
                of the server configuration.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="weaviateEmbeddingStoreType">
        <xs:annotation>
            <xs:documentation>
                A provider of Weaviate embedding store.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="avoid-dups" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    If true the object id is a hashed ID based on provided text segment else a random ID will be generated.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="consistency-level" use="optional">
            <xs:annotation>
                <xs:documentation>
                    How the consistency is tuned when writting into weaviate embedding store.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ALL"/>
                    <xs:enumeration value="QUORUM"/>
                    <xs:enumeration value="ONE"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="object-class" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The object class for collections on Weaviate store.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="socket-binding" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The name of outbound the socket-binding to use to connect ot the Weaviate store.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ssl-enabled" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    If the connection to the Weaviate store is secured.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="metadata" type="stringList" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The list of metedata fields to get from the weaviate store.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <xs:complexType name="embeddingStoreContentRetrieverType">
        <xs:annotation>
            <xs:documentation>
                A content retriever retriving content from an embedding store.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="embedding-store" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The embedding store to retrieve content from the embedding model from.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="embedding-model" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The embedding model to use.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="max-results" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The maximum number of contents to retrieve.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="min-score" type="xs:double" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The minimum relevance score for the returned contents.Contentss scoring below this score are excluded from the results.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="webSearchContentRetrieverType">
        <xs:annotation>
            <xs:documentation>
                A content retriever retriving content from a web search.
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="google" type="googleCustomSearchEngineType">
                <xs:annotation>
                    <xs:documentation>
                        The Google Custom Search Engine to retrieve content from.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tavily" type="tavilySearchEngineType">
                <xs:annotation>
                    <xs:documentation>
                        The Tavily Search Engine to retrieve content from.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="max-results" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The maximum number of contents to retrieve.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="googleCustomSearchEngineType">
        <xs:annotation>
            <xs:documentation>
                A Google Custom Search Engine to retrieve content from.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="api-key" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The Google Search API key for accessing the Google Custom Search API.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="connect-timeout" type="xs:long" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The connection timeout of the search
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="custom-search-id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The Custom Search ID parameter for search the entire web.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="site-restrict" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    If your Search Engine is restricted to only searching specific sites, you can set this parameter to true.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="log-requests" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Whether to log API requests
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="log-responses" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Whether to log API responses
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="max-retries" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The maximum number of retries for API requests
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="tavilySearchEngineType">
        <xs:annotation>
            <xs:documentation>
                A Tavily Search Engine to retrieve content from.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="api-key" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The unique API key.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="base-url" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The URL to call the Tavily APi from: "https://api.tavily.com".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="connect-timeout" type="xs:long" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The connection timeout of the search
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="exclude-domains" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    A list of domains to specifically exclude from the search results.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="include-answer" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Include answers in the search results.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="include-domains" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    A list of domains to specifically include in the search results.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="include-raw-content" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Include raw content in the search results.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="search-depth" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The depth of the search. It can be basic or advanced. Default is basic for quick results and advanced for indepth high quality results but longer response time. Advanced calls equals 2 requests.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="basic"/>
                    <xs:enumeration value="advanced"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="stringList">
        <xs:restriction base="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ A list of string separated by whitespaces. ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
