wildfly-ai/subsystem/src/main/resources/schema/wildfly-ai_1_0.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
~ Copyright The WildFly Authors
~ SPDX-License-Identifier: Apache-2.0
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:jboss:domain:ai:1.0"
           xmlns="urn:jboss:domain:ai:1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <xs:element name="subsystem" type="subsystemType">
        <xs:annotation>
            <xs:documentation>
                The AI subsystem root element.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="subsystemType">
        <xs:annotation>
            <xs:documentation>
                The AI subsystem root type.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="chat-language-models" type="chatLanguageModelsType">
                <xs:annotation>
                    <xs:documentation>
                        The chat language models.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="embedding-models" type="embeddingModelsType">
                <xs:annotation>
                    <xs:documentation>
                        The chat embedding models.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="embedding-stores" type="embeddingStoresType">
                <xs:annotation>
                    <xs:documentation>
                        The chat embedding models.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="embeddingModelsType">
        <xs:annotation>
            <xs:documentation>
                The embedding models.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="embedding-model" type="embeddingModelType">
                <xs:annotation>
                    <xs:documentation>
                        An embedding-model provider definition element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ollama-embedding-model" type="ollamaEmbeddingModelType">
                <xs:annotation>
                    <xs:documentation>
                        An embedding-model provider definition element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="embeddingStoresType">
        <xs:annotation>
            <xs:documentation>
                The embedding stores.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="in-memory-embedding-store" type="inMemoryEmbeddingStoreType">
                <xs:annotation>
                    <xs:documentation>
                        An in-memory embedding-store provider definition element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="chatLanguageModelsType">
        <xs:annotation>
            <xs:documentation>
                The chat language models.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="openai-chat-model" type="openaiChatModelType">
                <xs:annotation>
                    <xs:documentation>
                        A chat model provider element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ollama-chat-model" type="ollamaChatModelType">
                <xs:annotation>
                    <xs:documentation>
                        A chat model provider element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="openaiChatModelType">
        <xs:annotation>
            <xs:documentation>
                A provider of an OpenAI chat model.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="api-key" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The key to connect to the OpenAI model.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="base-url" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The base url to the chat model endpoint
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="connect-timeout" type="xs:long" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The connection timeout of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="max-token" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The maximum number of token of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="model-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The name of the model to use
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="temperature" type="xs:double" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The temperature of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ollamaChatModelType">
        <xs:annotation>
            <xs:documentation>
                A provider of Ollama chat model.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="base-url" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The base url to the chat model endpoint
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="connect-timeout" type="xs:long" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The connection timeout of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="model-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The model used on Ollama.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="temperature" type="xs:double" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The temperature of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <xs:complexType name="ollamaEmbeddingModelType">
        <xs:annotation>
            <xs:documentation>
                A provider of Ollama embedding model.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="base-url" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The base url to the chat model endpoint
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="connect-timeout" type="xs:long" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The connection timeout of the chat model
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="model-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The model used on Ollama.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="embeddingModelType">
        <xs:annotation>
            <xs:documentation>
                A provider of embedding model.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="module" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The module to load the embedding model from.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="embedding-class" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The class from which the embedding model will be instanciated.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>


    <xs:complexType name="inMemoryEmbeddingStoreType">
        <xs:annotation>
            <xs:documentation>
                A provider of in-memory embedding store.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of this provider.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="file" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The module to load the embedding model from.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
</xs:schema>
